@charset "UTF-8";

html {
	background-color: #333333;
	background-size: 100% 100%;
  	font-family: Helvetica, Arial, Sans-Serif;}
/* remove documents's default margins */
body {
	margin:0px;
}

header {	
	height:50px; 
	background-image: linear-gradient(#eeeeee,#cccccc);
	margin:auto; /* auto value makes browser to calculate left, right margins and centers horizontally this elementiaep */
	padding:0px;
    border-style: solid; /* before designing border we must specify border-style */
    border-width: 0px;
}

nav {
	height:50px;
	
}

#main {
	background-image: linear-gradient(#ffffff,#dddddd);
	padding: 20px;
	text-align: center;
	height:100%;
}

#upload {
	display:inline-block;
	background-image: linear-gradient(#6E93DC,#9AB0DC); /*2764DC*/ 
	/* width and height wrap according to child */
	margin:auto;
	padding:30px;
	border-style:solid;
	border-radius: 15px;
	border-color: #eeeeee;
	font-size: 1.5em;
}

#upload_form {
	display:flex;
	border:inherit;
	border-color:#888888;
	border-radius:inherit;
	background-image: linear-gradient(#ffffff,#dddddd);
	margin:auto;
	padding:10px;
	height:300px;
	width:1000px;
	font-size:0.9em;
}

#upload_button{
	width:200px;
	height:60px;
	background-image: linear-gradient(#2BBA00,#71CD52);
	margin:auto;
	margin-top:30px;
	border:inherit;
	border-radius:inherit;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size:1.5em;
}

#upload_form_selection{
	-webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
    box-sizing: border-box;
    border:inherit;
	border-radius:inherit;
	padding:10px;
	overflow: auto; }

#upload_form_extras {
	-webkit-flex: 2; /* Safari 6.1+ */
    -ms-flex: 2; /* IE 10 */
    flex: 2;
    display:flex;
    flex-direction:column;
    box-sizing: border-box;
    border:inherit;
	border-radius:inherit;
	padding:10px;
}

.center {
	margin: auto;
}

.textleft {
	text-align:left;
}

.font08
{
	font-size:0.8em;
}
.font06
{
	font-size:0.6em;
}
#extra_container {
	display:flex;
	flex-grow:5;
	flex-direction:column;
	justify-content: space-around;
	padding:5px;
/* 	border-style:dotted;
	border-radius: 5px;
	border-width:3px;
	border-color: red;
	*/
}

.extInCtn {
	display:flex;
	-webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    justify-content: space-between;
    align-items: center; /* align vertical */
	background-image: linear-gradient(#bbbbbb,#dddddd);
 	padding:3px;
 	border-style:dotted;
	border-radius: 0px;
	border-width:1px;
	border-color: #eeeeee;
}

.itemText {
	display:flex;
	justify-content:center;
	align-items: center; /* align vertical */
    width:130px;
    border:inherit;
    border-radius:inherit;
    overflow: hidden;
}

.itemInput {
	display:flex;
	justify-content:space-between;
	align-items: center; /* align vertical */
    width:150px;
    border:inherit;
    border-radius:inherit;
    overflow: hidden;    
}

.itemValue {
	max-height:50px;
    width:300px;
    border:inherit;
    border-radius:inherit;
    overflow: auto;  
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    padding:2px;
      
}

.widthMatchParent {
	width:100%;
}

.tag {
	height:12px;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	padding:2px;
	padding-left:5px;
	padding-right:5px;
	font-size:0.7em;
	background-color:#777777;
	border-style:solid;
	border-width:1px;
	border-color:black;
    border-radius:4px;
    margin:2px;
}
.tag_inside {
	height:12px;
	margin-left:5px;
}

.itemInput_accept {
	width:30px;
	height:30px;
	transition: height 1s;
}
.itemInput_accept:hover {
	transform:scale(0.8,0.8);
}
input[type="text"] , select {
	width:100px;
}

